# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
htmlcov/
.coverage

# Qt / PySide6
*.qrc
*.pyqrc
*.qmlc
*.jsc
*.rcc

# Build
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# Application Specific
*.log

# Others
.bintools/
sources.lst
TODO.md